<section class="banners">
  <div class="banner">
    <div class="banner-content">
      <h1>Добро пожаловать в Aroma Lux</h1>
      <span
        >Добро пожаловать в Aroma Lux! Добро пожаловать в Aroma Lux Perfumes,
        где дух победы и триумфа оживает благодаря ароматам, которые вдохновляют
        и придают силы. Наша тщательно подобранная коллекция, метко названная
        «Аромат победы», — это торжество успеха и элегантности, призванное
        раскрыть вашу победоносную сущность. Побалуйте себя сладким вкусом
        триумфа с пленительными ароматами, которые рассказывают историю ваших
        достижений. В Aroma Lux мы верим, что каждая победа заслуживает своего
        фирменного аромата, и мы стремимся создавать незабываемые ароматы,
        которые поднимут ваш дух и вдохновят вас на путь к успеху.</span
      >
    </div>
  </div>
  <div class="banner-second">
    <div class="image">
      <img src="/images/megaerica_Carbonated_perfume_in_a_bottle.png" alt="" />
    </div>
    <div class="title">
      <h1>Наши ценности</h1>
      <span
        >В Aroma Lux наш магазин парфюмерии построен на фундаменте страсти и
        подлинности. Мы верим в то, что нужно ценить индивидуальность каждого
        клиента, предлагая разнообразную коллекцию ароматов, которые
        соответствуют его уникальной личности и стилю. Наша преданная команда
        энтузиастов парфюмерии стремится создать гостеприимную и инклюзивную
        атмосферу, где завязываются связи и процветает вдохновение.
      </span>
      <span
        >Придерживаясь принципов устойчивого развития и непрерывного обучения,
        Aroma Lux стремится быть не просто местом для покупок; мы – сообщество,
        которое вдохновляет и расширяет возможности людей на их пути в мире
        парфюмерии.</span
      >
    </div>
  </div>
</section>

<section class="products-list">
  <app-product-list></app-product-list>
</section>
