<footer class="footer">
  <section class="content">
    <div class="contacts">
      <div class="logo">Aroma Lux</div>
      <div class="subs">Подпишитесь на нашу рассылку</div>
      <div class="subs-discription">
        Получайте уведомления о новых поступлениях и специальных предложениях!
      </div>
      <div class="input">
        <input type="email" placeholder="Введите ваш email" />
        <button>Подписаться</button>
      </div>
      <div class="contact-icons">
        <button><img src="/icons/instagram.svg" alt="Instagram"></button>
        <button><img src="/icons/facebook.svg" alt="Facebook"></button>
        <button><img src="/icons/whatsapp.svg" alt="WhatsApp"></button>
      </div>
    </div>
    <div class="footer-links">
        <div class="categories">
            <h1>Категории</h1>
            <a href="">Все категории</a>
            <a href="">Мужчинам</a>
            <a href="">Женщинам</a>
        </div>
        <div class="shoping">
            <h1>Магазин</h1>
            <a href="">Оплата</a>
            <a href="">Доставка</a>
            <a href="">Возврат</a>
        </div>
        <div class="pages-column">
            <h1>Страницы</h1>
            <a href="">О нас</a>
            <a href="">Контакты</a>
            <a href="">Блог</a>
        </div>
        <div class="contacts-column">
            <h1>Контакты</h1>
            <a href="">Телефон</a>
            <a href="">Email</a>
            <a href="">Адрес</a>
        </div>
    </div>
  </section>
  <div class="line"></div>
  <section class="dis">
    <button class="admin" routerLink="/admin">Панель управления</button>
    <p>&copy; 2026 Aroma Lux. All rights reserved.</p>
  </section>
</footer>
