<header class="main-header">
  <div class="container">
    <div class="navigation">
      <div class="logo"><span>Aroma Lux</span></div>
      <nav class="nav-header">
          <button routerLink="">Главная</button>
          <button routerLink="catalog">Каталог</button>
          <button routerLink="about">О нас</button>
          <button routerLink="contacts">Контакты</button>
      </nav>
      <nav class="nav-icons">
        <button><img src="/icons/search.svg" alt="Search"></button>
        <button><img src="/icons/heart.svg" alt="Favorites"></button>
        <button><img src="/icons/cart.svg" alt="Cart"></button>
      </nav>
    </div>
    <div class="banner">
        <div class="container-text">
            <h1 class="banner-title">Погрузитесь в мир ароматов с <br/> Aroma Lux</h1>
            <p class="banner-description">Откройте для себя изысканные ароматы, которые подчеркнут вашу индивидуальность и создадут неповторимую атмосферу.</p>
            <button class="banner-button">Перейти в каталог</button>
        </div>
        <div class="banner-image">
          <img src="/images/parfume.png" alt="">
        </div>
    </div>
  </div>
</header>
